.first-div{
    border: 2px solid blueviolet;
    text-align: center;
    border-radius: 20px;
font-family: sans-serif;
font-weight: 500px;
}
.page1-main{
    border: 1px solid red;
display: flex;

}
.right-content{
    margin-left:8%;
}
.left-content{
margin-left: 5%;
}
.proceed-btn{
    height: 45px;
    width: 245px;
    background-color: red;
    /* color: black; */
    color: white;
    font-weight: 400px;
    border-radius: 10px;

}
.datePicker{
    width: 100%;
}
.city-option{
    width: 470px;
}
.right-content{
    border: 1px solid blue;
}

@media only screen and (min-width: 0px) and (max-width: 376px){
    .page1-main{
        border: 1px solid red;
    /* display: flex; */
    
    }
    .right-content{
        margin-left:0%;

    }
    .left-content{
    /* margin-left: 5%; */
    width: 95%;
    }
    .city-option{
        width: 250px;
    }
    .proceed-btn{
        height: 45px;
        width: 245px;
        background-color: red;
        /* color: black; */
        color: white;
        font-weight: 400px;
        border-radius: 10px;
    
    }
    .datePicker{
        width: 100%;
    
    }
}

@media only screen and (min-width: 377px) and (max-width: 768px){
   
}

@media only screen and (min-width:769px) and (max-width:1024px){

}