.first-div{
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
font-family: sans-serif;
font-weight: 500px;
}
.page1-main{
    /* border: 1px solid red; */
display: flex;

}
.right-content{
    margin-left:8%;
}
.left-content{
margin-left: 5%;
}
.proceed-btn{
    height: 45px;
    width: 245px;
    background-color: red;
    /* color: black; */
    color: white;
    font-weight: 400px;
    border-radius: 10px;
font-family: Arial, Helvetica, sans-serif;
}
.datePicker{
    width: 100%;
}
.city-option{
    width: 470px;
}
.right-content{
    border: 1px solid transparent;
}

/* // -------------- page-1 modal box styles ------------------- */

.modal-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn1{
    background-color: red;
    color: rgba(255,255,255,1);
    width: 150px;
    height: 35px;
    font-weight: 500px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 10px;
}
.btn2{
    background-color: red;
    color: rgba(255,255,255,1);
    width: 150px;
    height: 35px;
    font-weight: 500px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 10px;
}
.edit-btn{
    /* border: 1px solid blueviolet; */
height: 40px;
width: 40%;
/* border: none; */
outline: none;

}
.modal-box{
    border: 2px solid black;
    border-radius: 20px;
    width: 750px;
    height: 380px;
    background-color: antiquewhite;
    margin-top:82px;
    margin-left: 23%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.box-content{
    margin-left: 20px;
}

/* // ---------- media query ----------------------------- */
@media only screen and (min-width: 0px) and (max-width: 376px){
   
    .right-content{
            margin-left: 0%;
            margin-left: -256px;
            margin-top: 354px;
    }
    .left-content{
    /* margin-left: 5%; */
    width: 95%;
    }
    .city-option{
        width: 250px;
    }
    .proceed-btn{
        height: 45px;
        width: 200px;
        margin-left: 15%;
        background-color: red;
        /* color: black; */
        color: white;
        font-weight: 400px;
        border-radius: 30px;
    }
    .datePicker{
        width: 100%;
    
    }

    .modal-box{
        border: 2px solid black;
        border-radius: 20px;
        width: 350px;
        height: 380px;
        /* background-color: antiquewhite; */
        background-color: white;
        margin-top: 162px;
        margin-left: 2.5%;
         box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    }
    .box-content{
        margin-left: 20px;
    }
}

@media only screen and (min-width: 377px) and (max-width: 768px){
   
}

@media only screen and (min-width:769px) and (max-width:1024px){

}