.stepper{
/* border: 1px solid tomato; */
width: 70%;
margin-left: 100px;
padding: 20px 75px;
}
@media only screen and (min-width: 0px) and (max-width: 376px){
    .stepper{
        /* border: 1px solid tomato; */
        width: 50%;
        margin-left: -35px;
    
        }
}